In [11]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [20]:
housing_data = pd.read_csv("house_prices.csv")
housing_data

        price  size
0      201800  1160
1      538000  2570
2      180000   770
3      604000  1960
4      510000  1680
...       ...   ...
19994  260000  1489
19995  279000  2690
19996  380000  1530
19997  287000  1600
19998  377000  1000

[19999 rows x 2 columns]