In [3]:
import pandas as pd
pd.set_option("display.max_column",None)

In [4]:
df = pd.read_csv("Uncleaned_DS_jobs.csv")
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [6]:
df["Job Description"]=df["Job Description"].str.replace("\n","")

In [7]:
df["Job Description"]

0      DescriptionThe Senior Data Scientist is respon...
1      Secure our Nation, Ignite your FutureJoin the ...
2      OverviewAnalysis Group is one of the largest i...
3      JOB DESCRIPTION:Do you have a passion for Data...
4      Data ScientistAffinity Solutions / Marketing C...
                             ...
667    SummaryWe’re looking for a data scientist to d...
668    Job DescriptionBecome a thought leader within ...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    DescriptionThe Data Scientist will be part of ...
Name: Job Description, Length: 672, dtype: object

In [8]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [9]:
df["Salary Estimate"]=df["Salary Estimate"].str.replace("$","")

In [10]:
df["Salary Estimate"]=df["Salary Estimate"].str.replace("K","")

In [11]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,137-171 (Glassdoor est.),DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,137-171 (Glassdoor est.),"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,137-171 (Glassdoor est.),OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,137-171 (Glassdoor est.),JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,137-171 (Glassdoor est.),Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [12]:
df["Salary Estimate"]=df["Salary Estimate"].str.replace("(Glassdoor est.)","")

In [13]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [14]:
df.drop("index",axis=1,inplace=True)

In [15]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [16]:
df["min_salary"] = df["Salary Estimate"][0][0:3]

In [17]:
df["max_salary"] = df["Salary Estimate"][0][4:7]

In [18]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171

In [19]:
df["min_salary"] = df["min_salary"].astype(int)

In [20]:
df["max_salary"] = df["max_salary"].astype(int)

In [21]:
df["avg_salary"] = (df["min_salary"]+df["max_salary"])/2

In [22]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0

In [23]:
df["Company Name"]=df["Company Name"].str.split('\n').str[0]

In [24]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0

In [25]:
df.drop("Competitors",axis=1,inplace=True)

In [26]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154.0
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154.0
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154.0

In [27]:
df["avg_salary"]=df["avg_salary"].astype(int)

In [28]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154

In [29]:
df["Job State"] = df["Location"].str.split(",").str[-1]

In [30]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY

In [31]:
df["Same State"] = (df["Location"].str.split(",").str[0]) == (df["Headquarters"].str.split(",").str[0])

In [32]:
df["Same State"]=df["Same State"].astype(int)

In [33]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State,Same State
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1

In [34]:
df["Company Age"] = 2024- df["Founded"].astype(int)

In [35]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State,Same State,Company Age
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1,31
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0,56
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1,43
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0,24
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1,26

In [36]:
import re
languages = ['Python','Excel','Hadoop', 'Spark', 'AWS','Tableau', 'Big_Data']
pattern = r'\b(?:' + '|'.join(languages) + r')\b'
df['programming_languages'] = df['Job Description'].apply(lambda x: ', '.join(re.findall(pattern, x, flags=re.IGNORECASE)))

In [37]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State,Same State,Company Age,programming_languages
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1,31,"AWS, AWS"
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0,56,Hadoop
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1,43,"Python, Python, AWS, Python, Python, Python, AWS"
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0,24,python
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1,26,Python

In [38]:
df.drop_duplicates(subset="programming_languages")

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State,Same State,Company Age,programming_languages
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1,31,"AWS, AWS"
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0,56,Hadoop
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1,43,"Python, Python, AWS, Python, Python, Python, AWS"
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0,24,python
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1,26,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,Data Scientist,87-141,"eGlobalTech, one of Northern Virginia’s fastes...",3.7,EGlobalTech,"Arlington, VA","Vienna, VA",201 to 500 employees,2004,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,137,171,154,VA,0,20,"AWS, AWS, Python, Python, AWS, excel"
641,Data Scientist,92-155,Domain Experience:3+ years-experience in machi...,4.7,Unicom Technologies INC,"Chicago, IL","Naperville, IL",51 to 200 employees,-1,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,137,171,154,IL,0,2025,"Spark, Hadoop, Python"
642,Data Engineer,92-155,JOB SUMMARY:We are looking for a savvy Data En...,3.3,Americo Life,"Kansas City, MO","Kansas City, MO",201 to 500 employees,1992,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),137,171,154,MO,1,32,"spark, Hadoop, AWS, Python"
663,Data Scientist,105-167,Job DescriptionEducation and Experience:At lea...,4.1,A-Line Staffing Solutions,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,137,171,154,NC,0,20,"Python, Spark, Hadoop, python"
667,Data Scientist,105-167,SummaryWe’re looking for a data scientist to d...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NJ,1,35,"Python, Excel, Tableau, Hadoop"

In [39]:
# extract name of technologies from job description column
df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['hadoop'] = df['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df['big_data'] = df['Job Description'].apply(lambda x: 1 if 'big_data' in x.lower() else 0)

In [40]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State,Same State,Company Age,programming_languages,python,excel,hadoop,spark,aws,tableau,big_data
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1,31,"AWS, AWS",0,0,0,0,1,0,0
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0,56,Hadoop,0,0,1,0,0,0,0
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1,43,"Python, Python, AWS, Python, Python, Python, AWS",1,1,0,0,1,0,0
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0,24,python,1,1,0,0,1,0,0
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1,26,Python,1,1,0,0,0,0,0

In [41]:
df.groupby("Job Title")["Job Title"].value_counts()

Job Title
(Sr.) Data Scientist -                                     2
AI Data Scientist                                          1
AI Ops Data Scientist                                      3
AI/ML - Machine Learning Scientist, Siri Understanding     1
Analytics - Business Assurance Data Analyst                3
                                                          ..
Statistical Scientist                                      1
Tableau Data Engineer 20-0117                              1
VP, Data Science                                           2
Vice President, Biometrics and Clinical Data Management    1
Weapons and Sensors Engineer/Scientist                     2
Name: count, Length: 172, dtype: int64

In [42]:
df["Job Title"].values

array(['Sr Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Data Scientist',
       'Staff Data Scientist - Analytics', 'Data Scientist',
       'Data Scientist', 'Data Scientist',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Data Scientist', 'Experienced Data Scientist',
       'Data Scientist - Contract', 'Data Scientist', 'Data Analyst II',
       'Medical Lab Scientist', 'Data Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights', 'Data Scientist',
       'Data Scientist', 'Data Scientist - Risk',
       'Data Scientist-Human Resources', 'Data Scientist',
       'Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Data Scientist',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Data Scientist', 'Data Scientist',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology', 'Data Scientist',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Analyst', 'Data Scientist',
       'Data Scientist', 'Jr. Data Engineer', 'E-Commerce Data Analyst',
       'Data Analytics Engineer', 'Senior Data Scientist',
       'Product Data Scientist - Ads Data Science', 'Data Scientist',
       'Data Scientist - Intermediate', 'Data Analyst',
       'Machine Learning Engineer', 'Data Scientist', 'Data Scientist',
       'Global Data Analyst', 'Data Engineer', 'Data Scientist',
       'Data Scientist', 'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Analyst',
       'Data Engineer, Enterprise Analytics', 'Data Scientist',
       'Data Scientist', 'Data Scientist 3 (718)',
       'Real World Science, Data Scientist', 'Data Scientist',
       'Data Engineer', 'Data Scientist - Image and Video Analytics',
       'Data Scientist', 'Data Science Manager, Payment Acceptance - USA',
       'Data Analyst', 'Data Scientist / Applied Mathematician',
       'Machine Learning Engineer', 'Data Scientist',
       'Patient Safety- Associate Data Scientist',
       'Machine Learning Engineer', 'Senior Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist',
       'Staff Data Scientist - Analytics', 'Data Analytics Engineer',
       'Data Scientist, Kinship - NYC/Portland', 'Senior Data Scientist',
       'Applied Technology Researcher / Data Scientist', 'Data Scientist',
       'Machine Learning Engineer',
       'Health Data Scientist - Biomedical/Biostats',
       'Senior Data Scientist', 'Staff Data Scientist', 'Data Scientist',
       'Sr Data Engineer (Sr BI Developer)', 'Data Engineer',
       'Lead Data Scientist', 'Data Scientist', 'RFP Data Analyst',
       'Data Analyst', 'Data Scientist (TS/SCI)', 'Data Engineer',
       'Data Scientist', 'Data Scientist',
       'Software Engineer - Data Science', 'Data Analyst/Engineer',
       'NGS Scientist', 'Data Engineer', 'Data Scientist',
       'Senior Data Engineer', 'Senior Data Scientist', 'Data Engineer',
       'Business Intelligence Analyst',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot', 'Data Scientist',
       'Data Scientist', 'Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot', 'Data Scientist',
       'Senior Data Engineer', 'Data Engineer', 'Data Scientist',
       'Machine Learning Engineer', 'Machine Learning Engineer',
       'Senior Data Engineer', 'Data Scientist', 'Data Analyst',
       'Data Engineer', 'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'Senior Data Scientist',
       'AI Data Scientist', 'Machine Learning Engineer',
       'Research Scientist Patient Preferences (Remote)',
       'Data Scientist', 'Scientist - Biomarker and Flow Cytometry',
       'Data Scientist', 'Analytics Manager', 'Data Scientist',
       'Staff Scientist- Upstream PD', 'Data Engineer',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Sr Data Scientist',
       'Data Scientist', 'Experienced Data Scientist',
       'Machine Learning Engineer', 'Data Scientist', 'Data Scientist',
       'Say Business Data Analyst', 'Geospatial Data Scientist',
       'Data Analyst', 'Computational Scientist', 'Data Scientist',
       'Senior Data Analyst', 'Senior Data Analyst', 'Data Engineer',
       'Sr Data Analyst', 'Data Scientist',
       'Machine Learning Scientist - Bay Area, CA', 'Data Scientist',
       'Senior Data Scientist - Algorithms', 'Data Analyst',
       'Senior Data & Machine Learning Scientist', 'Data Engineer',
       'Data Scientist - Statistics, Early Career', 'Data Scientist',
       'Machine Learning Engineer',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II', 'Data Scientist', 'Senior Data Analyst',
       'Lead Data Scientist',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist', 'Data Engineer',
       'Principal Data Scientist', 'Data Scientist',
       'Senior Data Scientist - R&D Oncology', 'Data Scientist',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Data Scientist - Contract', 'Data Scientist', 'Data Scientist',
       'Machine Learning Engineer', 'Data Engineer',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Engineer', 'Data Science Instructor',
       'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required', 'Data Scientist',
       'Senior Data Scientist', 'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Data Scientist/Machine Learning',
       'Data Scientist - Risk', 'Data Engineer',
       'Staff Data Scientist - Pricing', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Machine Learning Engineer',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Data Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Data Scientist', 'Operations Data Analyst',
       'Sr. Data Scientist II', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Senior Data Analyst', 'Data Scientist',
       'Data Scientist', 'Senior Research Statistician- Data Scientist',
       'Software Data Engineer', 'Data Scientist',
       'Real World Evidence (RWE) Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Computer Scientist 1', 'Lead Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Environmental Data Science',
       'Computational Behavioral Scientist', 'Data Scientist',
       'Staff BI and Data Engineer',
       'Principal Machine Learning Scientist',
       'Principal Data Scientist - Machine Learning',
       'Data Scientist-Human Resources', 'Associate Data Scientist',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Engineer, Digital & Comp Pathology',
       'Data Engineer', 'Manager / Lead, Data Science & Analytics',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Diversity and Inclusion Data Analyst',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Senior Analyst/Data Scientist', 'Data Scientist',
       'Data Scientist', 'Senior Data Scientist - R&D Oncology',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist',
       'Data Scientist Machine Learning', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Analyst', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Chief Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Data Scientist', 'Senior Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist',
       'Analytics - Business Assurance Data Analyst', 'Data Scientist',
       'Data Scientist', 'Development Scientist, Voltaren',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Engineer', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Machine Learning Engineer',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist', 'Data Scientist',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Machine Learning Engineer',
       'Data Analyst - Unilever Prestige', 'Data Scientist',
       'VP, Data Science', 'Data Scientist', 'Data Scientist',
       'Senior Business Intelligence Analyst', 'Data Scientist',
       'Data Engineer - Kafka', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Decision Scientist',
       'Data Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Data Scientist - TS/SCI FSP or CI Required', 'Data Analyst',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Senior Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Data Scientist', 'Data Science Software Engineer',
       'AI Ops Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Scientist - Machine Learning', 'Data Scientist',
       'Data Scientist', 'Sr. Data Scientist', 'Data Scientist',
       'Data Scientist', 'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Senior Data Scientist', 'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Data Scientist', 'Data Scientist',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer', 'Data Engineer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler', 'Data Scientist',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Senior Data Analyst',
       'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Product Data Scientist - Ads Data Science', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Analytics - Business Assurance Data Analyst',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Senior Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Engineer', 'Data Scientist',
       'Data Scientist', 'Data Scientist',
       'Data Scientist - Machine Learning', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Machine Learning Engineer/Scientist',
       'Data Scientist - Intermediate', 'Principal Data Scientist',
       'Data Scientist',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Scientist', 'Data Scientist',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Machine Learning Engineer',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Analyst - Unilever Prestige',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data & Machine Learning Scientist', 'Data Scientist',
       'VP, Data Science', 'Senior Business Intelligence Analyst',
       'Data Scientist', 'Data Engineer - Kafka', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist',
       'In-Line Inspection Data Analyst', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Decision Scientist', 'Data Scientist',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Analyst', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist - TS/SCI Required',
       'Senior Principal Data Scientist (Python/R)',
       'Real World Science, Data Scientist', 'Data Scientist',
       'Data Scientist(s)/Machine Learning Engineer',
       'Senior Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Data Scientist', 'Data Science Software Engineer',
       'Scientist / Group Lead, Cancer Biology', 'Data Scientist',
       'Data Scientist',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Data Scientist', 'Data Scientist', 'Scientist - Machine Learning',
       'Data Scientist', 'Data Scientist',
       'Data Scientist - Image and Video Analytics', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Senior Data Engineer',
       'Data Scientist', 'Machine Learning Scientist / Engineer',
       'Data Scientist', 'Sr. Data Scientist',
       'Intelligence Data Analyst, Senior', 'Data Science Analyst',
       'Data Scientist', 'Data Scientist',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Data Scientist', 'Data Modeler (Analytical Systems)',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Data Scientist 3 (718)', 'Data Scientist',
       'Senior Data Scientist',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'IT Partner Digital Health Technology and Data Science',
       'Data Scientist',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Data Scientist', 'Clinical Data Analyst', 'Data Scientist',
       'Data Engineer', 'Data Scientist Technical Specialist',
       'Senior Data Scientist', 'Data Science Manager',
       'Computer Vision / Deep Learning Scientist', 'Big Data Engineer',
       'Data Architect', 'Machine Learning Engineer', 'Data Scientist',
       'Aviation AI/ML Data Scientist', 'Data Scientist',
       'Data Scientist / Applied Mathematician',
       'Machine Learning Engineer, Sr.',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Senior Data Analyst',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Cloud Data Engineer (Azure)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Lead Data Scientist – Network Analysis and Control',
       'Senior Machine Learning Engineer',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Data Engineer', 'Developer III - Data Science',
       'Senior Data Engineer',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Engineer', 'Patient Safety- Associate Data Scientist',
       'Senior Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Decision Scientist',
       'Data Scientist - TS/SCI FSP or CI Required', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       '(Sr.) Data Scientist -', 'Senior Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Engineer', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist/Data Analytics Practitioner',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist, Kinship - NYC/Portland',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist - TS/SCI Required',
       'Data Scientist', 'Senior Data Scientist', 'Data Scientist',
       'Data Scientist(s)/Machine Learning Engineer', 'Data Scientist',
       'Data Engineer', 'Data Scientist', 'Data Scientist',
       'AI/ML - Machine Learning Scientist, Siri Understanding',
       'Data Scientist',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Data Scientist', 'Data Science Software Engineer',
       'Scientist / Group Lead, Cancer Biology', 'AI Ops Data Scientist',
       'Senior Data Scientist', 'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', 'Data Scientist',

In [43]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
df['job_simp'] = df['Job Title'].apply(title_simplifier)
df.job_simp.value_counts()

job_simp
data scientist    455
na                 69
analyst            55
data engineer      47
mle                36
manager             7
director            3
Name: count, dtype: int64

In [44]:
df.drop("programming_languages",axis=1,inplace=True)

In [45]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,Job State,Same State,Company Age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,154,NY,1,31,0,0,0,0,1,0,0,data scientist
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137,171,154,VA,0,56,0,0,1,0,0,0,0,data scientist
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137,171,154,MA,1,43,1,1,0,0,1,0,0,data scientist
3,Data Scientist,137-171,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137,171,154,MA,0,24,1,1,0,0,1,0,0,data scientist
4,Data Scientist,137-171,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,154,NY,1,26,1,1,0,0,0,0,0,data scientist