In [7]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np

logistic function = 1/(1+e^-value)

In [8]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [12]:
df_getdummy = pd.get_dummies(data=df,columns=['Gender'])

In [13]:
df_getdummy

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0          False         True
1    15810944   35            20000          0          False         True
2    15668575   26            43000          0           True        False
3    15603246   27            57000          0           True        False
4    15804002   19            76000          0          False         True
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1           True        False
396  15706071   51            23000          1          False         True
397  15654296   50            20000          1           True        False
398  15755018   36            33000          0          False         True
399  15594041   49            36000          1           True        False

[400 rows x 6 columns]

In [36]:
X = df_getdummy.drop('Purchased',axis=1)
Y = df_getdummy['Purchased']


from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=500)


from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,Y_train)

Y_pred = classifier.predict(X_test)

from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,Y_pred)

array([[66,  4],
       [ 6, 24]], dtype=int64)

In [37]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(Y_test,Y_pred)
print(acc*100)

90.0

<img src="Screenshot 2024-09-17 231207.png"></img>